/*overflow-y: scroll
*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    z-index: 10;

}

.cart-product h1, h2, h3, h4, h5 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.cart-product span{
    margin-bottom: 1.5rem;
}

.cart-product-title{
    margin-bottom: 1.5rem !important;
}

.shoppingCart {
    width: 100%;
    height: max-content;
    /* left: 202px; */
    background: #01001C;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
}

.select {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    color: #767676;
    padding-left: 1rem;
}

.cart-product {
    width: 20rem;
    min-height: 30rem;
    padding: 30px;
    gap: 27px;
    border: 1px solid #184CC0;
    border-radius: 30px;
}

.cart-product h1 {
    margin-top: 0px;
}

.cart-product-img img {
    max-width: 18rem;
    padding-bottom: 3px;
    margin-bottom: 1.5rem;
}

.cart-product-img {
    display: flex;
    justify-content: center;
}

.next-page-payment {
    background: #184CC0;
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    color: #F7FAFC;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.next-page-payment:hover {
    background: #0eb1d2;
}

.button-next-page-payment {
    display: flex;
    padding-top: 1rem;
    justify-content: flex-end;
}

.cancel-payment {
    width: 10rem;
    height: 3rem;
    border: none;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.cart-products-payment {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: .6rem;
    color: #FFFFFF !important;
    padding-right: 2rem;
}

.headerShoppingCart h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-left: 2.5rem;
    position: relative;
}

.headerShoppingCart {
    display: flex;
    padding-left: 2rem;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price h1 {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.product-subtotal, .product-delivery, .total-products-car{
    border-bottom: 1px solid #FFFFFF;
}
.product-price h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.product-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-subtotal h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

.product-subtotal h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

.product-taxa {
    display: flex;
    justify-content: space-between;
}

.product-taxa h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

.product-taxa h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

.product-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-delivery h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

.product-delivery h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #38B2AC;
}

.product-quantity {
    display: flex;
    justify-content: space-between;
}

.count-product-quantity {
    height: 2rem;
    width: 3rem;
    border: none;
}

.product-quantity h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

.total-products-car {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.total-products-car h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
}

.total-products-car h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
}

.remove-item-car {
    display: flex;
    justify-content: space-between;
}

.remove-item-car h1 {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
}

.content-products-payment {
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.__content-payment-card_ {
    display: flex;
    width: 96%;
    justify-content: space-evenly;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}