.__division-card-afiliado {
    background-color: white;
}


._cardsDivision {
    
    display: flex;
    justify-content: center;
}

.__division-card {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1E1E1E;
}

.__choose_text_buttons{
    text-align: center;
}

.__cardsDivision {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 90px;
}

.__cardImgMyHart img {
    max-width: 280px;
    max-height: 290px;
}

.__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

._division-card-afiliado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__division-card-afiliado {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.__card-MyHart {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
}

.__cardImgTitleMyHart {
    padding-top: .6rem;
}

.__cardImgTitleMyHart img {
    max-width: 200px;
}

.__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.__title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0px;
}

.__title h3 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FBFBFB;
}

.__notify {
    position: relative;
    padding-left: 1rem;
    top: 0.3rem;
}

.__arrowOption {
    padding-left: 1rem;
}

.__title h1 {
    color: #FBFBFB;
}

.__nameUser {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    color: white;
}

.__optionTitle {
    color: #E2E8F0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: .8rem;
}

.__choose_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.__choose_text_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.__choose_text_content {
    font-family: 'Lato';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
}

.__chose{
    padding: 15px 50px;
    gap: 50px;
    /* width: 368px; */
    /* height: 54px; */
    background: #0E1227;
    box-shadow: 0px 4px 26px 7px #184cc0;
    border-radius: 5px;
    color: #FFFF;
}

.__chose{
    cursor: pointer;
}

.__chose:hover{
    background: #080b17;
}
@media screen and (max-width: 600px) {

    .__choose_text{
        margin-left: 0rem;
    }

    .__menuIsOpen {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .__arrowOption {
        padding-left: 0px;
    }

    .__notify {
        padding-left: 0px;
    }

    .__container {
        flex-direction: column;
    }

    .__cardsDivision {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .__title {
        flex-direction: column;
        padding: 1rem;
    }

    .__division-card-afiliado {
        padding: 0px;
    }

    .__cards {
        align-items: center;
    }

    .__card-MyHart {
        padding: 11px;
    }

    .__cardsDivision {
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        align-items: center;
    }

    .__choose_img img{
        max-width: 300px;
    }

    .__option_energy_content{
        padding: 1rem;
    }

    .__option_energy_header_map{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1600px){
    .__division-card {
        height: 100vh;
    }
}