.__containerProductView {
    display: flex;
}

.teste-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.text-2 {
    display: flex;
    justify-content: space-evenly;
}

.__modalProductView {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    display: flex;
    align-items: center;
}

.__descriptProductView h1 {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    white-space: normal;
    width: 20rem;
    padding: 1rem;
}

.__productView {

    display: flex;
    justify-content: space-evenly;
}

.__productViewCardImg img {
    max-width: 371px;
    max-height: 279px;
}

.__titleCardImg {
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    left: 16rem;
}

.__description {

    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.__closedProductView {
    display: flex;
    /* justify-content: flex-end; */
    position: relative;
    bottom: -1rem;
    left: 33rem;
    cursor: pointer;
}

.__option_energy_content {
    border: 1px solid #184CC0;
    border-radius: 30px;
    color: #FFFF;
    padding: 2rem;
}

.__option_energy_header {
    margin-bottom: 10px;
}

.__option_energy_header h3 {
    text-align: center;
}

.__option_energy_header span {
    font-size: 12px;
}

.__option_energy_header_map {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.product img {
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

._buttonProductView {
    width: 18rem;
    height: 3rem;
    background: #4112b9;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgb(92 92 92 / 30%);
}

._buttonProductView:hover {
    background: #4708e5;
}

.__buttonProductView p {
    color: white;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


@media screen and (max-width: 600px) {

    .__modalProductView {
        left: 0px;
        width: 100%;
    }

    .text-2 {
        flex-direction: column;
    }


    .__closedProductView {
        left: auto;
        bottom: 1rem;
    }

    .__option_energy_content{
        padding: 1rem;
    }
}

@media screen and (min-width: 1400px) {
    .__cardsDivision {
        justify-content: center;
    }

    .__closedProductView {
        left: 60rem;
    }

    .product img {
        height: 200px;
    }
}