.__proof_table{
    display: flex;
}

.__proof_table_flex{
    display: flex;
    flex-direction: column;
}

.__proof_table_body_content{
    padding-top: 5rem;
    letter-spacing: 0.01px;
}

section{
    font-size: 12px;
    line-height: normal;
}